<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941606272059-he5u67jnhd2p4ucqr7r28ld0knarruet.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941606272059-he5u67jnhd2p4ucqr7r28ld0knarruet</string>
	<key>API_KEY</key>
	<string>AIzaSyDY-mVqQ-aBTn01jDpk1lgb4KDWs0IQBdM</string>
	<key>GCM_SENDER_ID</key>
	<string>941606272059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ficha.leaderspace</string>
	<key>PROJECT_ID</key>
	<string>leaderspace-fe4b9</string>
	<key>STORAGE_BUCKET</key>
	<string>leaderspace-fe4b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941606272059:ios:3d64756a0ed83eaec7f01e</string>
	<key>DATABASE_URL</key>
	<string>https://leaderspace-fe4b9.firebaseio.com</string>
</dict>
</plist>